<!DOCTYPE html>
<html>
  <head>
    <title>Accounting Solutions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <%= stylesheet_link_tag(
          "https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Open+Sans:wght@400;700&display=swap",
          "template/css/fonts/icomoon/style.css",
          "template/css/fonts/flaticon/font/flaticon.css",
          "template/css/bootstrap",
          "template/css/tiny-slider.css",
          "template/css/glightbox.min.css",
          "template/css/aos.css",
          "template/css/style.css"
    )%>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>

    <%# TODO: put below two p tags into a notice partial %>
    <%# NOTE: due to site being an information site, there should be no user feedbacks %>
    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %>
    <%= render "shared/header" %>
    <main>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>


    <%= javascript_include_tag(
          "bootstrap.bundle.min.js",
          "tiny-slider.js",
          "aos.js",
          "navbar.js",
          "counter.js",
          "glightbox.min.js",
          "custom.js"
    )%>
    
  </body>
</html>
